<h1>About Me</h1>

<div id="sidebar">
<img src="/images/headshot.jpg" style="max-width: 210px;">
<figcaption>headshot</figcaption>
</div>

<div id="left-column">


<p>
    I am currently a junior majoring in Computer Engineering at <a href="https://drexel.edu">Drexel University</a> in Philly. This is my personal website which displays some information about me, including my projects. I like to learn and work on web development projects ranging from static websites to dynamic production level websites/user portals. I am currently working on developing a c-sharp application which will be soon displayed under the posts area once done and ready to be deployed. Additionally, I like to further work on innovating projects that I was taught in classes for engineering. I also like designing engineering prototypes on CAD that would suggest an improvement for ongoing complications with some specific products.
</p>
<p>I most value the place I study and work because it sets a best environment to collaborate and grown in my career. I believe the time in college is crucial in developing the ethics to be practised in my future career.</p>

<p>When not studing or working, I enjoy visiting new places, and learning new programming launguages that turn out to be building block of the World Wide Web. Some of the books I currently read, and have read, can be found <a href="https://www.goodreads.com/user/show/121355525-arth-patel">here</a>.</p>

</div>
