<h1>Blog Posts</h1>

<p>I blog very less about stuff. My blog entries—2 in total since I first started this website in January of 2020 typically focus on some engineering stuff for an intended audience of sophomore undergraduate students in my discipline. Topics vary, but most focus is on random topics from electrical and software engineering.</p>

<h2 id="table-of-contents">In chronological order</h2>


<ul>
  <li>
    <a>10 March 2021</a>
    <ul>
      <li><a href="/blog/calculating-subnet-masks-for-network-management">Calculating subnet masks for network management.</a></li>
      
    </ul>
  </li>
</ul>
<ul>
  <li>
    <a>01 August 2020</a>
    <ul>
      <li><a href="/blog/creating-my-own-secure-vpn-using-pritunl">Creating my own secure VPN using Pritunl.</a></li>
    </ul>
  </li>
</ul>
<ul>
  <li>
    <a>25 June 2020</a>
    <ul>
      <li><a href="/blog/programming-project-this-confined-summer">Programming project this confined summer.</a></li>
      
    </ul>
  </li>
</ul>

 