<h1>Programming project this confined summer.</h1>

<p style="color:rgb(151, 148, 148);">Posted on June 25, 2020 by <a href="/about">arth</a>.</p>

<p>A few months ago, amid the ongoing COVID-19 pandemic, I developed some interest in learning full stack web development. At the time until I decided to approach this pursuit, I had already done some web development here and there. Then I decided to practically apply that skill to construct a web application, which I would never get a chance to explore random area of engineering in any given ongoing full semester in college. Much of the focus in that time would be around the courses I take, which rarerly be something related to web development. Surfing the World Wide Web, and also some books, I got good amount of information on some of the crucial frameworks and libraries used nowadays like ExpressJS, ReactJS, and the cloud database: MongoDB. I had done quite a bit of loose programming to develop Web Applications for some client I got before, but not to the level of what an individual with knowledge of Full Stack can do. </p>

<p>A little fastforward to the story, it took me about 20 days to create what I arbitrary called <b>AP Contact</b>, which can solve ones problem to send survey emails. How about small businesses wanting to send survey emails to their customers and further track their responses back using a custom dynamic web portal?. This is exactly what I tried to solve using open source code I developed. The user can send survey questions in large group seamlessly, and then track the end-users response using the dashboard.  </p>


<img src="https://arthnpatel.com/images/email-surveys.jpg" style="max-width: 500px">
<br>
<br>


<a href="https://arthnpatel.com/apc" target="_blank">the web application</a>,<br>
<a href="https://github.com/arnpatel/email-surveys" target="_blank">source code</a>,<br>
<a href="https://arthnpatel.com/images/email-surveys.jpg" target="_blank">expand the dashboard screenshot</a><br>