<h1>Legal</h1>

<p>Last updated October 12, 2020.</p>

<h2>PRIVACY POLICY</h2>

<p>We do not share personal information with third-parties nor do we store visit information we collect about your visit to this blog for use other than to analyze content performance through the use of cookies, which you can turn off at any time by modifying your Internet browser's settings. We are not responsible for the republishing of the content found on this blog on other Web sites or media without our permission. User personal information is securely stored on rented servers situated in the United States. For security of transactions, we use the Secure Sockets Layer (SSL) protocol, which encrypts any personal information you enter into registration forms on the Web Application. The encryption process protects your information, by scrambling it before it is sent to us from your computer. We also make all the reasonable effort to ensure the security of your personal information on our system. Unfortunately, no data transmission over the Internet can be guaranteed to be 100% secure. As a result, while we strive to protect your personal information, we cannot warrant the security of any information you transmit to us. This privacy policy is subject to change without notice.</p>

<h2>TERMS AND CONDITIONS</h2>

<p>All content provided on the blog is for informational purposes only. The owner of this blog makes no representations as to the accuracy or completeness of any information on this site or found by following any link on this site. The owner will not be liable for any errors or omissions in this information nor for the availability of this information. The owner will not be liable for any losses, injuries, or damages from the display or use of this information. These terms and conditions of use are subject to change at any time and without notice.

<h2>COOKIE POLICY</h2>

<p><b>Use of cookies</b></p>

<p>A “cookie” is a string of information which assigns you a unique identifier that we store on your computer. Your browser then provides that unique identifier to use each time you submit a query to the Site. We use cookies on the Site to, among other things, keep track of services you have used, record registration information, record your user preferences, keep you logged into the Site, facilitate protected information retreival procedures, and track the pages you visit. Cookies help us understand how the Site is being used and improve your user experience.</p>

<p><b>Types of Cookies</b></p>

<p>The following types of cookies may be used when you visit the Site:</p>

<p><b>Advertising Cookies</b></p>

<p>Advertising cookies are placed on your computer by advertisers and ad servers in order to display advertisements that are most likely to be of interest to you. These cookies allow advertisers and ad servers to gather information about your visits to the Site and other websites, alternate the ads sent to a specific computer, and track how often an ad has been viewed and by whom. These cookies are linked to a computer and do not gather any personal information about you.</p>

<p><b>Analytics Cookies</b></p>

<p>Analytics cookies monitor how users reached the Site, and how they interact with and move around once on the Site. These cookies let us know what features on the Site are working the best and what features on the Site can be improved.</p>

<p><b>Our Cookies</b></p>

<p>Our cookies are “first-party cookies”, and can be either permanent or temporary. These are necessary cookies, without which the Site won’t work properly or be able to provide certain features and functionalities. Some of these may be manually disabled in your browser, but may affect the functionality of the Site.</p>

<p><b>Personalization Cookies</b></p>

<p>Personalization cookies are used to recognize repeat visitors to the Site. We use these cookies to record your browsing history, the pages you have visited, and your settings and preferences each time you visit the Site.</p>

<p><b>Security Cookies</b></p>

<p>Security cookies help identify and prevent security risks. We use these cookies to authenticate users and protect user data from unauthorized parties.</p>

<p><b>Site Management Cookies</b></p>

<p>Site management cookies are used to maintain your identity or session on the Site so that you are not logged off unexpectedly, and any information you enter is retained from page to page. These cookies cannot be turned off individually, but you can disable all cookies in your browser.</p>

<p><b>Third-Party Cookies</b></p>

<p>Third-party cookies may be place on your computer when you visit the Site by companies that run certain services we offer. These cookies allow the third parties to gather and track certain information about you. These cookies can be manually disabled in your browser.</p>


<p><b>Control of Cookies</b></p>

<p>Most browsers are set to accept cookies by default. However, you can remove or reject cookies in your browser’s settings. Please be aware that such action could affect the availability and functionality of the Site.For more information on how to control cookies, check your browser or device’s settings for how you can control or reject cookies.</p>


<h2>Abuse Contact</h2>

<% if(!user){ %>

    <p>Please <a href="/auth/login?continue=/legal&entry=SecureLogin&api=AP-Technologies">Log in</a> to view the email. (This display method is part of our efforts in preventing spam messages.)</p>


<% } else{ %> 

    <p>Email: postmaster [at] arthnpatel.com</p>

<% } %>



<h2>Website version</h2>

<p>Iteration 2, v1.2</p>